# use neovim
alias vim="nvim"

if [[ "$OSTYPE" == darwin* ]]; then
  # Finder helpers
  alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
  alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"
  alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
  alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"
fi

# tmuxinator short
alias mux="tmuxinator"

# github cli open web
alias ghw="gh repo view -w"
